/* Setup */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px; /* 1px */
  color: #19263D;
}

/* Heading */

header {
  position: absolute;
  top: 30%;
  left: 6%;
}

header h1 {
  display: block;
  font-size: 46px; /* 92px */
  font-weight: 100;
}

header h1 span {
  font-weight: 400;
}

header h2 {
  position: relative;
  margin-top: 18px; /* 36px */
  max-width: 425px; /* 850px */
  line-height: 32px; /* 65px */

  font-weight: 300;
  font-size: 23px; /* 46px */
  opacity: .5;
}

header h2 a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

header h2 a:hover {
  text-decoration: underline;
}

.cta {
  display: inline-block;
  margin-top: 33px; /* 66px */
  padding: 11.5px 17.5px 11.5px 17.5px; /* 23px 35px 23px 35px */
  border-radius: 3px; /* 5px */

  text-decoration: none;
  color: white;
  background-color: #D9042F;

  font-size: 20px; /* 40px */
  font-weight: 400;

  cursor: pointer;
}

.cta:hover {
  background-color: #E13D51;
}

/* Headshot */

.headshot {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
}

/* Footer */

footer {
  position: absolute;
  display: flex;
  left: 6%;
  bottom: 38px; /* 75px */

  font-size: 18px; /* 36px */
  font-weight: 400;
}

footer div {
  padding-top: 2.5px; /* 5px */
  padding-left: 7.5px; /* 15px */
}

footer div a {
  cursor: pointer;
}

footer div a:hover {
  opacity: .75;
}

footer div img {
  position: relative;
  padding-right: 7.5px; /* 15px */
  width: 17px; /* 34px */
  height: 17px; /* 34px */

  pointer-events: none;
}

/* Responsive */

@media only screen and (max-width: 1300px) {
  .headshot {
    right: -1%;
  }
}

@media only screen and (max-width: 1250px) {
  .headshot {
    right: -2%;
  }
}

@media only screen and (max-width: 1200px) {
  .headshot {
    right: -5%;
  }
}

@media only screen and (max-width: 1100px) {
  .headshot {
    right: -8%;
  }
}

@media only screen and (max-width: 1000px) {
  .headshot {
    right: -16%;
  }
}

@media only screen and (max-width: 900px) {
  .headshot {
    right: -21%;
  }
}

@media only screen and (max-width: 850px) {
  .headshot {
    right: -26%;
  }
}

@media only screen and (max-width: 800px) {
  .headshot {
    display: none;
    width: 0px;
  }
}
