@font-face {
  font-family: "Sofia Pro";
  font-style: light;
  font-weight: 100;
  src: url("./common/fonts/Sofia-Pro-Light.otf"), format("otf");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: regular;
  font-weight: 200;
  src: url("./common/fonts/Sofia-Pro-Regular.otf"), format("otf");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: medium;
  font-weight: 400;
  src: url("./common/fonts/Sofia-Pro-Medium.otf"), format("otf");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: bold;
  font-weight: 800;
  src: url("./common/fonts/Sofia-Pro-Bold.otf"), format("otf");
}

$font: "Sofia Pro", "Roboto", sans-serif;

$heading-weight: 600;
$subheading-weight: 400;
